@import "registerform.scss";
@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Michroma&display=swap");

.v-sign {
  color: $blue-clr;
}
.authentication-box {
  min-height: 100vh;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;

  .row {
    align-items: center;

    > .bg-size {
      height: 100vh;
      background-size: contain !important;
      background-color: $white;
      margin: 0;
    }
  }

  .log-in {
    &.row {
      .form-login {
        .card {
          margin-top: 30px;
        }
      }
    }

    h6 {
      font-weight: 500;
    }

    .important-note {
      font-size: 14px;
    }

    .text-color-2 {
      &:hover {
        color: var(--theme-default2);
      }
    }
  }
}
.card {
  .card-body,
  .card-header,
  .card-footer {
    padding: 20px;
  }
}
.form-control {
  border: 1px solid $light-border;
}
input {
  &:focus {
    outline: none;
  }
}
form {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="tel"]::-webkit-outer-spin-button,
  input[type="tel"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="tel"] {
    -moz-appearance: textfield;
  }
  label,
  .form-control {
    font-size: 14px;
    font-family: $font_2, $font_3;
    input[type="tel"]::-webkit-outer-spin-button,
    input[type="tel"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="tel"] {
      -moz-appearance: textfield;
    }
  }

  .form-control {
    &::placeholder {
      text-transform: capitalize;
    }

    &:focus {
      box-shadow: none;
    }
  }

  label {
    color: $title-color;
  }
}
.log-in.row > div {
  margin: 0 auto;
}
.card {
  border: none;
  box-shadow: 3.346px 3.716px 22.5px rgba(0, 0, 0, 0.17);
  border-radius: 15px;
  margin-bottom: 30px;
}
.log-in .title-3 {
  margin-bottom: 30px;
}
.log-in .title-3 h2:before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: var(--theme-default);
  left: 0;
  bottom: -8px;
}

.log-in form .form-group .input-group input {
  border: none;
  border-bottom: 1px solid #eee;
}
.log-in form .form-group {
  margin-bottom: 30px !important;
}
.card .card-header {
  background-color: transparent;
}
h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}
.log-in .title-3 h2 {
  position: relative;
  font-weight: 600;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  .input-group-prepend {
    align-self: center;
  }
}
.log-in form .d-flex .custom-dropdown-toggle {
  background-color: #fff;
  color: #000 !important;
  border: 1px solid #ced4da !important;
  order: 2;
  font-family: Roboto;
  width: 160px;
  margin-bottom: 20px;
}
.btn.btn-gradient {
  color: #fff;
  background-size: 200% auto;
  transition: all 0.5s ease;
  border: 2px solid transparent;
  background-image: var(--theme-gradient1);
  border-radius: 10px;
}
.akasha-logo {
  margin: auto !important;
}
// h1 {
//   background-color: black;
// }
//side nav bootstrap
img {
  max-width: 100%;
}

a {
  color: #7a3df8;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  width: 100%;
}

.sidebar {
  background-color: #f0f5ff;
  width: 260px;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.sidebar .brand-logo {
  padding: 20px 30px;
  margin-bottom: 30px;
}

.sidebar .brand-logo img {
  max-width: 100%;
}

.sidebar .nav {
  width: 220px;
  margin: 20px auto;
}

.sidebar .nav li {
  display: block;
  width: 100%;
}

.sidebar .nav li a {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  color: #303030;
  display: block;
  border-radius: 10px;
  text-decoration: none;
}

.sidebar .nav li a span {
  margin-right: 10px;
  font-weight: 600;
}

.sidebar .nav li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: all 0.5s;
}
.content-wrapper {
  padding: 0px 30px 30px 30px;
  margin-left: 260px;
}
.top-bar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 0 0;
  margin-bottom: 30px;
}

.top-bar .navbar-nav li {
  margin-left: 20px;
  line-height: 36px;
}

.top-bar .navbar-nav li a {
  color: #303030;
}

.fs-18 {
  font-size: 18px;
}

.top-bar .navbar-nav li.user-menu .dropdown-menu {
  border-color: transparent;
}

.top-bar .navbar-nav li.user-menu .dropdown-menu a {
  font-size: 14px;
  line-height: normal;
}

.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

.top-bar .user-avatar-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  background-color: aqua;
  border-radius: 50%;
}
.btn-link {
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
}
.search-bar {
  width: 60%;
}
.search-bar {
  position: relative;
}

.search-bar .form-control {
  padding: 15px 25px;
  border-radius: 40px;
  line-height: 44px;
  background: #f4f4f4;
  height: 50px;
  width: 100%;
}

.search-bar .search-icon {
  position: absolute;
  right: 20px;
  top: 14px;
  font-size: 21px;
}
.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.navbar-nav {
  flex-direction: row !important;
  visibility: visible;
}
.navbar-toggle {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
}
.navbar {
  padding: 5px 25px;
  div.collapse {
    ul.navbar-nav {
      visibility: visible;
      color: black;
      gap: 15px;
      a {
        font-family: "Inter", sans-serif;
        font-weight: lighter;
      }
    }
  }
}
.login-box {
  width: 420px;
  margin: auto;
  padding: 20px;
}
h1 {
  background-color: #000;
}
.card-box {
  background-color: #fff;
  padding: 20px 30px 30px 30px;
  box-shadow: 0.5px 0.5rem 1.2rem 0px rgb(185 185 185 / 12%);
  border-radius: 20px;
  border: solid 1px #f4f4f4;
  margin-bottom: 20px;
}
.customer-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0.5px 0.5rem 1.2rem 0px rgb(185 185 185 / 12%);
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  align-items: center;
}
.customer-item .badge {
  height: 30px;
  padding: 10px 20px;
}
.badge {
  color: white;
  background-color: #007bff;
}
.header-btns a:first-child {
  margin-right: 15px;
}
.header-btns a {
  padding: 12px 16px;
  border: solid 1px #303030;
  border-radius: 6px;
  color: #303030;
  text-decoration: none;
}
.folder-item {
  background-color: #fff;
  padding: 20px 15px;
  box-shadow: 0.5px 0.5rem 1.2rem 0px rgb(185 185 185 / 12%);
  border-radius: 8px;
  border: solid 1px #f4f4f4;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
}
.folder-item span {
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 300;
  color: #7a7a7a;
}
@media screen and (max-width: 767px) {
  .sidebar {
    display: none;
  }

  .content-wrapper {
    margin-left: 0px;
    padding: 0px 15px 15px 15px;
  }
}
